#navbar{
    background-color: aquamarine;
    padding: 10px;
    display: flex;
    justify-content: center;

}
 #navbar a {
     margin: 10px;
     background-color: black;
     padding: 20px;
 }

 #navbar a :hover{
    background-color: white;
 }
#home-desc div img{
        border-radius:20%;
        margin: 0 auto;
        height: 400px;
        width: 400px;
        display: block;
        padding: 5%;
    
}


#home-desc{
    display: flex;
    
    text-align: center;
    justify-content: space-evenly;
    background-image: url();
    


}

.main{
    display: flex;
    flex-direction: column;
   
}

#skills-desc{
    margin: auto;
   
    background-color: aquamarine;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 300px; */
    font-size: 40px;
    width: 100%;

 
    
}

#c-skills{
 
 width: 100%;
 padding-left: 40vh;
}

.image{
    border-top: 50%;
    text-align: center;
    justify-content: center;
}


/* 
.home-descl, .home-descr{
    
    flex-wrap: wrap;
    margin: auto;
}
.main{
    height: 50px;
    font-size: 4vh;
}

body{
display: flex;
flex-direction: column;
justify-content: space-between;
} */

